<!DOCTYPE html>
<html>

<head>
    <title>System Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🚀 DevOps System Dashboard</h1>

<div class="card">
    <h2>CPU Usage</h2>
    <p>{{ cpu }} %</p>
</div>

<div class="card">
    <h2>RAM Usage</h2>
    <p>{{ ram }} %</p>
</div>

<div class="card">
    <h2>Disk Usage</h2>
    <p>{{ disk }} %</p>
</div>

<div class="card">
    <h2>Operating System</h2>
    <p>{{ os }}</p>
</div>

<div class="card">
    <h2>Current Time</h2>
    <p>{{ current_time }}</p>
</div>

</body>

</html>